.buy{
    margin: 0px 20px;
    .container{
        .top{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            .left{
                img{
                    width: 200px;
                    object-fit: cover;
                }
            }
            .center{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                h1{
                    color: #FF8C32;
                }
            }
            .right{
                text-align: center;
            }
        }
    }
}

@media (min-width: 1220px){
    .buy{
        margin: 0px 100px;
        margin-bottom: 280px;
        .container{
            .top{
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                .left{
                    img{
                        width: 400px;
                    }
                }
                .center{
                    gap: 30px;
                }
            }
        }
    }
}