.buy{
    margin: 50px 100px;
    .container{
        .top{
            display: flex;
            justify-content: space-around;
            .left{
                img{
                    width: auto;
                    height: 400px;
                }
            }
            .right{
                form{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    h1{
                        color: #FF8C32;
                    }
                    .credentials{
                        display: flex;
                        flex-direction: column;
                        gap: 50px;
                        span{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            border: solid 1px #FF8C32;
                            width: 500px;
                            padding-right: 20px;
                            border-radius: 20px;
                            color: #138E9A;
                            font-size: x-large;
                            input{
                                padding: 15px 30px;
                                border: none;
                                border-radius: 20px;
                                width: 100%;
                                color: #138E9A;
                                font-size: large;
                            }
                        }
                        .error-message{
                            border: none;
                            color: #FF8C32;
                        }
                    }
                    button{
                        background-color: #FF8C32;
                        border: none;
                        border-radius: 20px;
                        width: 100%;
                        padding: 10px 30px;
                        font-weight: 300;
                        font-size: 18px;
                        color: #fff;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
@media (max-width: 576px) {
    .buy{
        margin: 20px;
        .container{
            .top{
                flex-direction: column;
                gap: 20px;
                .left{
                    img{
                        height: 120px;
                    }
                }
                .right{
                    form{
                        .credentials{
                            span{
                                width: 300px;
                            }
                        }
                        button{
                            font-weight: 300;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 980px) {
    .buy{
        margin: 20px;
        .container{
            .top{
                gap: 20px;
                .left{
                    img{
                        height: 300px;
                    }
                }
                .right{
                    form{
                        .credentials{
                            span{
                                width: 300px;
                            }
                        }
                        button{
                            font-weight: 300;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}