.createTour{
    margin: 0px 20px;
    .container{
        form{
            display: flex;
            flex-direction: column;
            gap: 50px;
            .credentials{
                display: flex;
                flex-direction: column;
                gap: 50px;
                span{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border: solid 1px #FF8C32;
                    border-radius: 20px;
                    color: #FF8C32;
                    input{
                        padding: 15px 30px;
                        border: none;
                        border-radius: 20px;
                        width: 100%;
                        background-color: transparent;
                        outline: none;
                    }
                }
                .error-message{
                    border: none;
                    color: #FF8C32;
                }
            }
        }
    }
}
@media (min-width:728px){
    .createTour{
        margin: 0px 200px;
    }
}
@media (min-width:1024px){
    .createTour{
        margin: 0px 300px;
    }
}
@media (min-width:1220px){
    .createTour{
        margin: 0px 500px;
    }
}

