.register{
    margin: 20px;
    .container{
        display: flex;
        flex-direction: column;
        gap: 50px;
        .left{
            display: none;
        }
        .mobile-left{
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                width: auto;
                height: 50px;
                object-fit: cover;
            }
            span{
                font-weight: 700;
            }
        }
        .right{   
            form{
                align-items: center;
                display: flex;
                flex-direction: column;
                gap: 20px;
                h1{
                    color: #ff8c32;
                    font-weight: 500;
                    font-size: 1.5rem;
                }
                .credentials{
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                    span{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border: solid 1px #ff8c32;
                        width: 100%;
                        padding-right: 20px;
                        border-radius: 20px;
                        color: #ff8c32;
                        font-size: 1.2rem;
                        input{
                            padding: 15px 30px;
                            border: none;
                            border-radius: 20px;
                            width: 100%;
                            color: #ddd;
                            font-size: 1.2rem;
                            outline: none;
                        }
                    }
                    .error-message{
                        border: none;
                        color: #F47174;
                    }
                    h4{
                        color: #ff8c32;
                    }
                }
                button{
                   font-size: 1.2rem;
                }
                .success-message{
                    color: #ff8c32;
                    font-size: 1.2rem;
                    text-align: center;
                }
                .sign{
                    color: #ff8c32;
                }
                h3{
                    text-align: center;
                }
            }
        }

    }
}

@media (min-width: 768px){
    .register{
        margin: 100px 50px;
        .container{
            flex-direction: row;
            justify-content: space-evenly;
            .mobile-left{
                display: none;
            }
            .left{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                border: solid 0.5px #ff8c32;
                padding: 50px;
                border-radius: 50px;
                .links{
                    font-weight: 700;
                    font-size: 1.3rem;
                }
                h1{
                    font-weight: 600;
                    font-size: 40;
                }
                img{
                    width: auto;
                    height: 50px;
                }
                h3{
                    font-weight: 300;
                    font-size: 24px;
                }
            }
        }
    }
}
@media (min-width:1220px) {
    .register{
        margin: 100px;
    }
}
