.shop{
    margin: 0px 20px;
    .container{
        display: flex;
        flex-direction: column;
        gap: 50px;
        .top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .cmpTitle{
                font-size: 1.2rem;
                font-weight: 700;
            }
        }
        .products{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
        }
    }
}

@media (min-width:912px){
    .shop{
        margin: 0px 100px;
    }
}