.productCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    img{
        width: 80px;
        height: 100px;
        object-fit: cover;
        border:  1px solid #ff8c32;
        border-radius: 10px;
    }
    .details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        .price{
            color: #ff8c32;
        }
        .status{
            display: none;
        }
    }
}
@media (min-width: 728px){
    .productCard{
        img{
            width: 180px;
            height: 200px;
        }
        
        .details{
            gap: 15px;
            .title{
                font-size: 1.3rem;
            }
            .price{
                font-size: 1.5rem;
            }
            .status{
                display: flex;
            }
        }
       
    }
}
@media (min-width: 1220px){
    .productCard{
        img{
            width: 320px;
            height: 300px;
        }
        
        .details{
            gap: 15px;
            .title{
                font-size: 1.3rem;
            }
            .price{
                font-size: 1.5rem;
            }
            .status{
                display: flex;
            }
        }
       
    }
}