.addproduct{
    margin: 50px 100px;
    .container{
        form{
            display: flex;
            flex-direction: column;
            gap: 50px;
            h1{
                color: #FF8C32;
            }
            .credentials{
                display: flex;
                flex-direction: column;
                gap: 50px;
                span{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border: solid 1px #FF8C32;
                    width: 500px;
                    padding-right: 20px;
                    border-radius: 20px;
                    color: #FF8C32;
                    font-size: x-large;
                    input{
                        padding: 15px 30px;
                        border: none;
                        border-radius: 20px;
                        width: 100%;
                        color: #FF8C32;
                        font-size: large;
                    }
                }
                .error-message{
                    border: none;
                    color: #FF8C32;
                }
            }
            button{
                background-color: #FF8C32;
                border: none;
                width: 20%;
                border-radius: 20px;
                padding: 10px 30px;
                font-weight: 300;
                font-size: 18px;
                color: #fff;
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 576px) {
    .addproduct{
        margin: 20px;
        .container{
            form{
                .credentials{
                    span{
                        width: 300px;
                    }
                }
                button{
                    width: 50%;
                    font-size: 15px;
                    text-align: center;
                }
            }
        }
    }
}