.login{
    margin: 250px 100px;
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        .right{
            display: flex;
            flex-direction: column;
            gap: 20px;
            .logo{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                img{
                    width: 80px;
                    height: 80px;
                }
            }
            form{
                align-items: center;
                display: flex;
                flex-direction: column;
                gap: 70px;
                span{
                    font-size: 2rem;
                    font-weight: 700;
                }
                h1{
                    color: #ff8c32;
                    font-weight: 500;
                    font-size: 38px;
                }
                .credentials{
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                    span{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border: solid 1px #ff8c32;
                        width: 500px;
                        padding-right: 20px;
                        border-radius: 20px;
                        color: #ff8c32;
                        font-size: x-large;
                        input{
                            padding: 15px 30px;
                            border: none;
                            border-radius: 20px;
                            width: 100%;
                            color: #ff8c32;
                            font-size: large;
                        }
                    }
                    .error-message{
                        border: none;
                        color: #F47174;
                    }
                    .remember{
                        display: flex;
                        justify-content: space-between;
                    }
                }
                button{
                    background-color: #ff8c32;
                    border: none;
                    border-radius: 20px;
                    width: 100%;
                    padding: 10px 30px;
                    font-weight: 300;
                    font-size: 18px;
                    color: #fff;
                    cursor: pointer;
                }
                .login-error{
                    color: #ff8c32;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px){
    .login{
        .container{
            .right{
                display: flex;
                flex-direction: column;
                margin-top: -200px;
                margin-bottom: 100px;
                form{
                    .credentials{
                        span{
                            width: 100%;
                            input{
                                font-size: 0.6rem;
                            }
                        }
                        .error-message{
                            font-size: 0.8rem;
                        }
                    }
                    button{
                        font-size: 18px;
                    }
                    .login-error{
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}