.login{
    margin: 20px;
    .container{
        .right{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;
            .logo{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                cursor: pointer;
                img{
                    width: auto;
                    height: 50px;
                    object-fit: cover;
                }
                p{
                    font-weight: 700;
                }
            }
            form{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 40px;
                span{
                    font-size: 2rem;
                    font-weight: 700;
                }
                h1{
                    color: #ff8c32;
                    font-weight: 500;
                    font-size: 38px;
                }
                .credentials{
                    display: flex;
                    flex-direction: column;
                    gap: 40px;
                    span{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        border: solid 1px #ff8c32;
                        padding-right: 20px;
                        border-radius: 20px;
                        color: #ff8c32;
                        font-size: 1.2rem;
                        width: 100%;
                        input{
                            padding: 15px 30px;
                            border: none;
                            border-radius: 20px;
                            width: 100%;
                            color: #ddd;
                            font-size: large;
                            outline: none;
                        }
                    }
                    .error-message{
                        border: none;
                        color: #F47174;
                    }
                    .remember{
                        display: flex;
                        justify-content: space-between;
                    }
                }
                button{
                    font-size: 1.3rem;  
                }
                .login-error{
                    color: #ff8c32;
                    font-size: 1.5rem;
                }
            }
        }
    }
}

@media (min-width: 728px){
    .login{
        margin: 100px 0px;
    }
}