.updatePassword{
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        input{
            border: none;
            outline: none;
            padding: 15px;
            background-color: #fefefe;
            border-radius: 15px;
            color: #000;
        }
        button{
            border: none;
            background-color: #ff8c32;
            color: #fff;
            padding: 10px;
            border-radius: 10px ;
            cursor: pointer;
        }
        button:hover{
            background-color: #fefefe;
            color: #000;
        }
        .btn{
            background-color: #ff8c32;
            border: none;
            border-radius: 10px;
            padding: 10px 30px;
            font-weight: 500;
            color: #fff;
            cursor: pointer;
        }
        .btn:hover{
            background-color: #fefefe;
            color: #000;
        }
    }
}