.about{
    margin: 0px 20px;
    .container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        span{
            display: flex;
            flex-direction:column;
            gap: 20px;
            h1{
                text-align: center;
                font-size: 2rem;
            }
            p{
                text-align: justify;
                font-size: 1rem;
            }
            h2{
                font-size: 1.5rem;
            }
        }
    }
}

@media (min-width: 728px) {
    .about{
        margin: 0px 100px;
    }
}
@media (min-width: 1220px) {
    .about{
        margin: 0px 400px;
    }
}