.productDetail{
    margin: 0px 20px;
    .container{
        display: flex;
        flex-direction: column;
        gap: 50px;
        .top{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .left{
                img{
                    width: 200px;
                    object-fit: cover;
                }
            }
            .right{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                .title{
                    font-size: 1.3rem;
                    font-weight: 500;
                }
                .price{
                    color:#ff8c32;
                    font-size: 1.5rem;
                    font-weight: 700;
                }
                .note{
                    font-size: 1rem;
                    font-weight: 300;
                    text-align: center;
                }
                .status{
                    font-size: 1.2rem;
                }
                .edit{
                    display: flex;
                    gap: 20px;
                }
            }
        }
        .bottom{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 50px;
            font-size: 1.2rem;
            .left{
                display: flex;
                flex-direction: column;
                gap: 50px;
            }
            .desc{
                width: 400px;
                text-align: justify;
            }
            .purchase{
                display: flex;
                flex-direction: column;
                text-align: justify;
                gap: 20px;
                span{
                    font-size: 1rem;
                    font-size: 300;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    .productDetail{
        margin: 0px 100px;
        .container{
            .top{
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                gap: 5px;
                .left{
                    img{
                        width: 400px;
                    }
                }
                .right{
                    gap: 30px;
                    align-items: flex-start;
                }
            }
        }
    }
}
