@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&family=Playball&display=swap');
*{
    margin: 0;
    padding: 0;
    background-color: #020618;
    color: aliceblue;
    font-family: 'Playball', cursive;
    .link{
        text-decoration: none;
        color: inherit;
    }
}
