.payment{
    margin: 0px 20px;
    .container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        h1{
            color: #ff8c32;
        }
        p{
            font-size: 1.3rem;
            text-align: justify;
        }
        .option{
            display: flex;
            
            gap: 20px;
            span{
                img{
                    object-fit: cover;
                    width: 150px;
                    height: 200px;
                }
            }
        }
    }
}
@media (min-width: 728px){
    .payment{
        margin: 0px 100px;
    }
}
@media (min-width: 1220px){
    .payment{
        margin: 0px 500px;
    }
}