.payment{
    margin: 50px 100px;
    .container{
        display: flex;
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        align-items: center;
        h1{
            color: #ff8c32;
        }
        p{
            font-size: 2rem;
        }
        .option{
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            gap: 50px;
            font-size: 2rem;
            span{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                p{
                    color: #ff8c32;
                }
                img{
                    object-fit: cover;
                    width: 400px;
                    height: 400px;
                }
            }
        }
        button{
            background-color: #ff8c32;
            border: none;
            color: white;
            padding: 5px 25px;
            text-align: center;
            font-size: 1rem;
            border-radius: 32px;
            cursor: pointer;
        }
    }
}
@media (max-width: 576px) {
    .payment{
        margin: 50px;
        .container{
            gap: 20px;
            .option{
                flex-direction: column;
            }
        }
    }
}