.catCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border: none;
    cursor: pointer;
    img{
        margin-top: 20px;
        width: 335px;
        height: 400px;
        object-fit: cover;
        border: 1px solid #ff8c32;
        border-radius: 10px;
    }
    .title{
        font-weight: 700;
        font-size: 30px;
    }
    .desc{
        font-weight: 300;
        height: 40px;
        overflow: hidden;
        text-align: justify;
    }
    button{
        background-color: #ff8c32;
        border: none;
        border-radius: 20px;
        width: 100%;
        padding: 10px 30px;
        font-weight: 300;
        font-size: 18px;
        color: #fff;
        cursor: pointer;
    }

}