.catCard{
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        img{
            width: 80px;
            height: 100px;
            object-fit: cover;
            border:  1px solid #ff8c32;
            border-radius: 10px;
        }
        .title{
            font-weight: 700;
            font-size: 0.8rem;
            width: 80px;
            text-align: center;
        }
        .desc{
            display: none;
        }
        
    }
}
@media (min-width: 728px){
    .catCard{
        .container{
            gap: 15px;
            img{
                width: 180px;
                height: 200px;
            }
            .title{
                font-size: 1.5rem;
            }
           
        }
    }
}
@media (min-width: 1220px){
    .catCard{
        .container{
            gap: 15px;
            img{
                width: 320px;
                height: 320px;
            }
            .title{
                font-size: 1.5rem;
                width: 100%;
            }
            .desc{
                display: block;
                text-align: center;
                width: 150px;
            }
            button{
                border-radius: 5px;
                padding: 10px 15px;
                font-size: 1rem;
            }
        }
    }
}