.home{
    .container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .banner{
            .hide-arrows .slick-arrow {
                display: none !important;
            }
        }
        .cmpTitle{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }
        .slide{
           margin: 0px 40px;
        }
    }
}
@media (min-width: 728px) {
    .home{
        .container{
           gap: 50px;
           .slide{
                margin: 0px 80px ;
           }
        }
    }
}
@media (min-width: 1220px) {
    .home{
        .container{
           gap: 100px;
           .slide{
                margin: 0px 100px ;
           }
        }
    }
}