.home{
    margin: 50px 100px 50px 100px;
    .container{
        display: flex;
        flex-direction: column;
        gap: 100px;
        .banner{
            .hide-arrows .slick-arrow {
                display: none !important;
            }
        }
        
        .cmpTitle{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 100px;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 700;
            button{
                background-color: #ff8c32;
                border: none;
                color: white;
                padding: 5px 25px;
                text-align: center;
                font-size: 0.8rem;
                border-radius: 32px;
                cursor: pointer;
            }
        }
        .slide{
           margin: 0px 10px;

           
        }
    }
}
@media (max-width: 912px) {
    .home{
        margin: 20px 0px;
        .container{
            gap: 20px;
            .cat{
                display: flex;
                flex-direction: column;
                gap: 10px;
            }
            .slide{
                margin: 0px 40px;
            }
        }

    }
}