.update{
    margin: 50px 100px;
    .container{
        form{
            display: flex;
            flex-direction: column;
            gap: 50px;
            span{
                border: solid 1px #ff8c32;
                border-radius: 20px;
                width: 50%;
                input{
                    width: 75%;
                    padding: 20px 80px;
                    border: none;
                    border-radius: 20px;
                    color: #ff8c32;
                    font-size: large;
                }
            }
            button{
                background-color: #ff8c32;
                border: none;
                color: white;
                padding: 20px 42px;
                text-align: center;
                font-size: 1rem;
                border-radius: 32px;
                width: 30%;
                cursor: pointer;
            } 
        }
    }
}